{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container-sm m-3">
  {% if user.is_authenticated %}
    <form class="m-3" action = "{% url 'index'%}" method="post">
        {% csrf_token %}
        <div>
            <label for="post_area" class="form-label">New Post</label>
            <textarea class="form-control mb-3" id="post_area" rows=4 aria-describedby="post" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endif %}
  {% include 'network/post_list.html' %}
  <script> let maxPage = {{ page_obj.paginator.num_pages }} </script>
  <script src="{% static 'network/scripts.js' %}"></script>
</div>
  
</div>
{% endblock %}