{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container-sm m-3">
  {% if user.is_authenticated %}
    <h1 class="card-title m-3">{{ user_profile.username }}</h1>
    <h5 class="card-title m-3"><small>{{user_profile.email}}</small></h5>
  {% endif %}
    <div class="card m-3 border-0" style="width: 15rem">
      <ul class="list-group list-group-flush d-flex flex-row justify-content-between">
        <li class="list-group-item border-0 ps-0">Following: {{following_count}}</li>
        <li class="list-group-item border-0 ps-0">Followers: {{followers_count}}</li>
      </ul>
      {% if user != user_profile and user.is_authenticated %}
        {% if not follows %}
          <a href="{% url 'follow' user_profile.username %}" class="btn btn-primary mt-3">Follow</a>
        {% else %}
          <a href="{% url 'unfollow' user_profile.username %}" class="btn btn-primary mt-3">Unfollow</a>
        {% endif %}
      {% endif %}
    </div>
  <h1 class="card-title m-3">Posts</h1>
  {% include 'network/post_list.html' %}
  <script> let maxPage = {{ page_obj.paginator.num_pages }} </script>
  <script src="{% static 'network/scripts.js' %}"></script>
</div>
{% endblock %}